In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("updated_dataset.csv")
df.head()

,distance,surge_multiplier,price,Black,Black SUV,Lux,Lux Black,Lux Black XL,Lyft,Lyft XL,Shared,UberPool,UberX,UberXL,WAV,Lyft.1,Uber
0,0.44,1.0,5.0,0,0,0,0,0,0,0,1,0,0,0,0,1,0
1,0.44,1.0,11.0,0,0,1,0,0,0,0,0,0,0,0,0,1,0
2,0.44,1.0,7.0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
3,0.44,1.0,26.0,0,0,0,0,1,0,0,0,0,0,0,0,1,0
4,0.44,1.0,9.0,0,0,0,0,0,0,1,0,0,0,0,0,1,0

In [3]:
from sklearn.preprocessing import PolynomialFeatures


selected_columns = ['surge_multiplier','distance']

degree = 2


poly_features = PolynomialFeatures(degree=degree)


poly_transform = poly_features.fit_transform(df[selected_columns])


poly_df = pd.DataFrame(poly_transform, columns=poly_features.get_feature_names(selected_columns))


df_poly = pd.concat([df.drop(columns=selected_columns), poly_df], axis=1)

df_poly

c:\Users\VEDANT\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

,price,Black,Black SUV,Lux,Lux Black,Lux Black XL,Lyft,Lyft XL,Shared,UberPool,...,UberXL,WAV,Lyft.1,Uber,1,surge_multiplier,distance,surge_multiplier^2,surge_multiplier distance,distance^2
0,5.0,0,0,0,0,0,0,0,1,0,...,0,0,1,0,1.0,1.0,0.44,1.0,0.44,0.1936
1,11.0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1.0,1.0,0.44,1.0,0.44,0.1936
2,7.0,0,0,0,0,0,1,0,0,0,...,0,0,1,0,1.0,1.0,0.44,1.0,0.44,0.1936
3,26.0,0,0,0,0,1,0,0,0,0,...,0,0,1,0,1.0,1.0,0.44,1.0,0.44,0.1936
4,9.0,0,0,0,0,0,0,1,0,0,...,0,0,1,0,1.0,1.0,0.44,1.0,0.44,0.1936
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
632382,9.5,0,0,0,0,0,0,0,0,0,...,0,1,0,1,1.0,1.0,1.00,1.0,1.00,1.0000
632383,13.0,0,0,0,0,0,0,0,0,0,...,1,0,0,1,1.0,1.0,1.00,1.0,1.00,1.0000
632384,9.5,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1.0,1.0,1.00,1.0,1.00,1.0000
632385,27.0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,1.0,1.0,1.00,1.0,1.00,1.0000
632386,10.0,0,0,0,0,0,0,0,0,1,...,0,0,0,1,1.0,1.0,1.00,1.0,1.00,1.0000

In [4]:
df_poly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 632387 entries, 0 to 632386
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   price                      632387 non-null  float64
 1   Black                      632387 non-null  int64
 2   Black SUV                  632387 non-null  int64
 3   Lux                        632387 non-null  int64
 4   Lux Black                  632387 non-null  int64
 5   Lux Black XL               632387 non-null  int64
 6   Lyft                       632387 non-null  int64
 7   Lyft XL                    632387 non-null  int64
 8   Shared                     632387 non-null  int64
 9   UberPool                   632387 non-null  int64
 10  UberX                      632387 non-null  int64
 11  UberXL                     632387 non-null  int64
 12  WAV                        632387 non-null  int64
 13  Lyft.1                     632387 non-null  int64
 14  Uber                       632387 non-null  int64
 15  1                          632387 non-null  float64
 16  surge_multiplier           632387 non-null  float64
 17  distance                   632387 non-null  float64
 18  surge_multiplier^2         632387 non-null  float64
 19  surge_multiplier distance  632387 non-null  float64
 20  distance^2                 632387 non-null  float64
dtypes: float64(7), int64(14)
memory usage: 101.3 MB

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

model = LinearRegression()

In [6]:
x = df_poly.drop('price',axis=1)
y = df_poly['price']
print(x.shape,y.shape)

(632387, 20) (632387,)

In [7]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2,random_state=42015)
print(xtrain.shape,ytrain.shape,xtest.shape,ytest.shape)

(505909, 20) (505909,) (126478, 20) (126478,)

In [8]:
model.fit(xtrain,ytrain)
ypred = model.predict(xtest)

In [9]:
from sklearn.metrics import r2_score,mean_absolute_percentage_error
score = r2_score(ytest,ypred)
print(score)

0.9351126586836542

In [10]:
mape = mean_absolute_percentage_error(ytest,ypred)
mape

0.1290560861665243

In [11]:
y_train_pred = model.predict(xtrain)
r2_score(ytrain,y_train_pred)

0.9344311996393053

R2 Score = 0.9351
MAPE = 12.90%

### Polyomial Features with Degree 3

In [12]:
from sklearn.preprocessing import PolynomialFeatures


selected_columns = ['surge_multiplier','distance']

degree = 3

poly_features = PolynomialFeatures(degree=degree)

poly_transform = poly_features.fit_transform(df[selected_columns])

poly_df = pd.DataFrame(poly_transform, columns=poly_features.get_feature_names(selected_columns))

df_poly2 = pd.concat([df.drop(columns=selected_columns), poly_df], axis=1)

df_poly2

,price,Black,Black SUV,Lux,Lux Black,Lux Black XL,Lyft,Lyft XL,Shared,UberPool,...,1,surge_multiplier,distance,surge_multiplier^2,surge_multiplier distance,distance^2,surge_multiplier^3,surge_multiplier^2 distance,surge_multiplier distance^2,distance^3
0,5.0,0,0,0,0,0,0,0,1,0,...,1.0,1.0,0.44,1.0,0.44,0.1936,1.0,0.44,0.1936,0.085184
1,11.0,0,0,1,0,0,0,0,0,0,...,1.0,1.0,0.44,1.0,0.44,0.1936,1.0,0.44,0.1936,0.085184
2,7.0,0,0,0,0,0,1,0,0,0,...,1.0,1.0,0.44,1.0,0.44,0.1936,1.0,0.44,0.1936,0.085184
3,26.0,0,0,0,0,1,0,0,0,0,...,1.0,1.0,0.44,1.0,0.44,0.1936,1.0,0.44,0.1936,0.085184
4,9.0,0,0,0,0,0,0,1,0,0,...,1.0,1.0,0.44,1.0,0.44,0.1936,1.0,0.44,0.1936,0.085184
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637971,9.5,0,0,0,0,0,0,0,0,0,...,1.0,1.0,1.00,1.0,1.00,1.0000,1.0,1.00,1.0000,1.000000
637972,13.0,0,0,0,0,0,0,0,0,0,...,1.0,1.0,1.00,1.0,1.00,1.0000,1.0,1.00,1.0000,1.000000
637973,9.5,0,0,0,0,0,0,0,0,0,...,1.0,1.0,1.00,1.0,1.00,1.0000,1.0,1.00,1.0000,1.000000
637974,27.0,0,1,0,0,0,0,0,0,0,...,1.0,1.0,1.00,1.0,1.00,1.0000,1.0,1.00,1.0000,1.000000
637975,10.0,0,0,0,0,0,0,0,0,1,...,1.0,1.0,1.00,1.0,1.00,1.0000,1.0,1.00,1.0000,1.000000

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

lr = LinearRegression()

In [14]:
x = df_poly2.drop('price',axis=1)
y = df_poly2['price']
print(x.shape,y.shape)

(637976, 24) (637976,)

In [15]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2,random_state=42015)
print(xtrain.shape,ytrain.shape,xtest.shape,ytest.shape)

(510380, 24) (510380,) (127596, 24) (127596,)

In [16]:
lr.fit(xtrain,ytrain)
ypred = lr.predict(xtest)

In [17]:
from sklearn.metrics import r2_score,mean_absolute_percentage_error
score = r2_score(ytest,ypred)
print(score)

0.9316627181200072

In [18]:
mape = mean_absolute_percentage_error(ytest,ypred)
mape

0.1313908069582138

In [12]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
def poly(degree):
    
    selected_columns = ['surge_multiplier','distance']

    
    

    
    poly_features = PolynomialFeatures(degree=degree)

    
    poly_transform = poly_features.fit_transform(df[selected_columns])

    
    poly_df = pd.DataFrame(poly_transform, columns=poly_features.get_feature_names(selected_columns))

    
    df_poly = pd.concat([df.drop(columns=selected_columns), poly_df], axis=1)


    model = LinearRegression()

    x = df_poly.drop('price',axis=1)
    y = df_poly['price']
    xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2,random_state=42015)

    model.fit(xtrain,ytrain)
    ypred = model.predict(xtest)

    from sklearn.metrics import r2_score,mean_absolute_percentage_error
    score = r2_score(ytest,ypred)
    mape = mean_absolute_percentage_error(ytest,ypred)

    return score,mape

In [13]:
for i in range(1,10):
    print(i,"degree")
    print(poly(i))

1 degree
(0.9338118150694609, 0.1288350335616142)
2 degree
(0.9351126586836542, 0.1290560861665243)
3 degree
(0.9364322531424148, 0.1281905670683016)
4 degree
(0.9366388843326734, 0.1286231409332795)
5 degree
(0.9366353088141316, 0.12863061800617712)
6 degree
(0.9366585295149191, 0.1284534547981138)
7 degree
(0.9366762323481677, 0.12843765791699735)
8 degree
(0.936686899618542, 0.12842697652234084)
9 degree
(0.9367079344484314, 0.12835375375046346)